.header {
  background-image: url("https://png.pngtree.com/png-clipart/20200608/ourmid/pngtree-tropical-frame-with-blank-white-area-on-side-png-image_2221389.jpg");
  background-repeat: no-repeat;
}
.shop-name {
  text-align: center;
  font-size: 120px;
}
